

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {

}

article {
    width: 600px;
    margin: 2em auto; 
    border: 0px solid;
    padding: 1.8em 2em;  
    box-shadow: 0 10px 30px -15px rgba( 0, 0, 0, 0.3)
    }



.page-title {
    font-family: indie flower;
    font-weight: bolder;
    color: brown;
    font-size: 3em;
    text-align: center;
    margin: auto;
    }

   

.post-article .secondpage-title {
    font-size: 2.2em;
}


.post-article .text-content {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    color: grey;
    margin-bottom: 2.6em; 
} 

hr{
border-color: lawngreen;
border-style: solid;
border-bottom: hotpink;
}

.post-article img.image-content {
    display: block;
    width: 600px;
    height: auto;
}

.author, 
.time, 
.comment-count {
    font-family: sans-serif;
    margin-right: 1em;
    color: grey;
    font-weight: 600;
}